@import '../../style/utils/mixins';

.photos {
  position: relative;

  &__content {
    position: relative;
  }

  &__item {
    border-radius: 8px;
    width: 167px;
    height: 179px;
    object-fit: cover;

    @include onTablet() {
      width: 224px;
      height: 240px;


    }

    @include onDesktop() {
      width: 384px;
      height: 413px;
    }
  }

  &__button {
    display: none;

    @include onTablet() {
      position: absolute;
      display: block;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);

      width: 38px;
      height: 38px;
      background-color: #F8F9FA;
      border-radius: 50%;


    }
  }

  &__next {
    right: -40px;

    z-index: 4;
    background-image: url(../../img/icons/Arrow-rigth.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
  }

  &__prev {
    left: -40px;
    z-index: 4;
    background-image: url(../../img/icons/Arrow-left.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
  }

  &__pagination {
    position: relative !important;
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  &__video-content {
    display: flex;
    height: 323px;
    background: linear-gradient(279.67deg, rgba(245, 233, 196, 0.72) -11.91%, rgba(229, 197, 253, 0.72) 115.83%);

    @include onTablet() {
      height: 566px;
    }

    @include onDesktop() {
      height: 904px;
    }
  }

  &__video-title {
    text-align: center;
    margin: 15px 0 32px 0;

    @include onTablet() {
      margin: 32px 0 42px 0;

    }

    @include onDesktop() {
      margin-bottom: 64px;

    }

  }

  &__video {
    width: 358px;
    height: 179px;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;

    @include onTablet() {
      width: 736px;
      height: 370px;
    }

    @include onDesktop() {
      width: 1216px;
      height: 610px;
    }

  }
}

.swiper-pagination {
  z-index: 1 !important;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: black !important;


  @include onTablet() {
    width: 8px !important;
    height: 8px !important;
  }

  @include onDesktop() {
    width: 16px !important;
    height: 16px !important;
  }


}

.swiper-pagination-bullet-active {
  background-color: #E5C5FD !important;
  width: 16px !important;
  border-radius: 16px !important;

  @include onDesktop() {
    width: 32px !important;

  }


}