@import '../../style/utils/mixins';


.reviews {
  position: relative;
  overflow: hidden;

  &__circle {
    position: absolute;
    border-radius: 50%;
    transform: rotate(-88.59deg);

    box-shadow: 1px 1px 201px 4px rgba(255, 255, 255, 1) inset,
      1px 1px 201px 4px rgba(255, 255, 255, 1) inset,
      1px 1px 201px 4px rgba(255, 255, 255, 1) inset,
      1px 1px 201px 4px rgba(255, 255, 255, 1) inset;

    &--top {
      width: 413px;
      background: rgba(254, 247, 232, 1);
      height: 413px;
      top: -67px;
      left: -178px;

      @include onTablet() {
        width: 653px;
        height: 653px;
        top: -160px;
        left: -258px;

      }

      @include onDesktop() {
        width: 653px;
        height: 653px;
        top: -41px;
        left: -210px;
      }

    }

    &--middle {
      width: 540px;
      height: 540px;
      top: 478px;
      right: -180px;
      background: rgba(248, 236, 254, 1);

      @include onTablet() {
        width: 700px;
        height: 700px;
        top: 492px;
        right: -202px;

      }

      @include onDesktop() {
        width: 830px;
        height: 830px;
        top: 384px;
        right: -332px;
      }

    }

    &--bottom {
      width: 422px;
      height: 488px;
      bottom: 111px;
      left: -130px;
      background: rgba(204, 251, 208, 1);
      box-shadow: 1px 1px 301px 4px rgba(255, 255, 255, 1) inset,
      1px 1px 301px 4px rgba(204, 251, 208, 1) ,;


      @include onTablet() {
        height: 422px;
        bottom: -20px;
        left: -20px;

      }

      @include onDesktop() {
        height: 488px;
        bottom: 52px;
        left: 286px;
      }

    }
  }

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @include onTablet() {
      width: 100%;
      height: 1590px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 32px;
      align-items: stretch;
    }

    @include onDesktop() {
      height: 1400px;
    }
  }

  &__item {
    background: #F8F9FA;


    @include onTablet() {
      width: 224px;

      &:nth-child(2) {
        order: 5;
        margin-top: 100px;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 6;
      }

      &:nth-child(5) {
        order: 8;
        margin-top: 34px;
      }

      &:nth-child(6) {
        order: 9;
      }

      &:nth-child(7) {
        order: 4;
      }

      &:nth-child(8) {
        order: 11;
      }

      &:nth-child(9) {
        order: 7;
      }

      &:nth-child(10) {
        order: 10;
      }

      &:nth-child(11) {
        order: 3;
      }

    }

    @include onDesktop() {
      width: 280px;

      &:nth-child(2) {
        order: 4;
        margin-top: 100px;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 5;

      }

      &:nth-child(5) {
        order: 6;
        margin-top: 34px;
      }

      &:nth-child(6) {
        order: 7;
      }

      &:nth-child(7) {
        order: 9;
        margin-top: 177px;

      }

      &:nth-child(8) {
        order: 10;
      }

      &:nth-child(9) {
        order: 11;
      }

      &:nth-child(10) {
        order: 8;
      }

      &:nth-child(11) {
        order: 3;
      }
    }
  }

  &__photo {
    width: 32px;
    height: 32px;

    @include onTablet() {
      width: 42px;
      height: 42px;
    }

    @include onDesktop() {
      width: 64px;
      height: 64px;
    }
  }

  &__name {
    margin-left: 8px;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;


    @include onTablet() {
      font-size: 16px;
    }

    @include onDesktop() {
      font-size: 18px;
    }
  }

  &__info {
    display: flex;
    margin: 14px 0 8px 12px;


    @include onTablet() {
      margin: 14px 0 12px 12px;
    }

    @include onDesktop() {
      margin: 16px 0 16px 16px;
    }
  }

  &__text {
    margin: 0 12px 16px 12px;

    font-size: 12px;
    line-height: 17px;

    @include onTablet() {
      margin-bottom: 14px;
    }

    @include onDesktop() {
      margin: 0 16px 16px 16px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.flex {

  display: flex;

  flex-wrap: wrap;

  &__text {
    width: 30%;
    height: max-content;
    box-sizing: border-box;
    border: 1px solid green;


    &:nth-child(2) {
      background-color: aqua;
      height: 100px;
    }
  }
}