@import '../../style/utils/mixins';


.reviews {

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    // align-content: start;
    // flex-wrap: wrap;

    @include onTablet() {
      grid-template-columns: 1fr 1fr 1fr;
      // grid-auto-rows: minmax(173px, 717px);
      // grid-auto-flow: row;
      // align-items: flex-start;



     }
  }

  &__item {
    // width: 50%;

    @include onTablet() {
      // grid-auto-rows: min-content;
  //  width: ;
  //  height: fit-content;
  //  align-items: start;

    }
  }

  &__photo {
    width: 32px;
    height: 32px;
  }

  &__name {
    margin-left: 8px;
    align-self: center;
  }

  &__info {
    display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 14px 0 8px 12px;
  }

  &__text {
    margin: 0 12px 16px;
  }
}

