@import '../../style/utils/mixins';

.nav {
  position: relative;
  z-index: 1;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;

    @include onTablet {
      flex-direction: row;
    }
  }

  &__item {
    margin-bottom: 8px;

    @include onTablet {
      margin-right: 13px;
      margin-bottom: 0 ;

      &:last-child {
        margin-right: 0;
      }

      @include onDesktop {
        margin-right: 32px;
      }
    }


    &:last-child {
      margin-bottom: 0;
    }

    &-link {
      text-decoration: none;
      border-bottom: 1px solid #F8F9FA;
      padding-bottom: 8px;

      @include onTablet {
        padding: 0;
        border: none;

      }
    }
  }
}