@import './style/reset.scss';
@import './style/utils/mixins';
@import './style/container.scss';
@import './style/utils/normalize';

.App {}


.page {
  &__section {
    margin-bottom: 82px ;
  }

  @include onTablet() {
    margin-bottom: 100px ;
  }

  @include onDesktop() {
    margin-bottom: 152px ;

  }

  &__title {
    margin-bottom: 32px;
    text-align: center;

    @include onTablet() {
      margin-bottom: 48px;
    }

    @include onDesktop() {
      margin-bottom: 72px;

    }
  }
}