@import '../../style/utils/mixins';

.experience {

  &__title {
    margin-bottom: 72px;
    text-align: center;
  }

  &__teaching {
    @include onTablet() {
      display: flex;
    }
  }

  &__study {
    @include onTablet() {
      display: flex;
      flex-direction: row-reverse;
      border-top: 1px solid #E9ECEF;

    }
  }

  &__education {
    border-top: 2px solid #CED4DA;
    border-bottom: 2px solid #CED4DA;
    position: relative;

    margin-bottom: 32px;

    @include onDesktop() {
      margin-bottom: 64px;
    }

  }

  &__description {
    margin: 24px 0;

    &--left {
      @include onTablet() {
        margin-left: 16px;
      }
    }

    @include onTablet() {
      margin-right: 16px;
      align-self: center;
      width: 50%;
    }

    &-img {
      width: 100%;
      object-fit: cover;

      @include onTablet() {
        width: 50%;
      }

      &--top {
        border-top: 1px solid #E9ECEF;
        border-bottom: 1px solid #E9ECEF;
        padding: 24px 0;

        @include onTablet() {
          padding: 26px 0 26px 16px;

          margin: 0;
          border-left: 1px solid #E9ECEF;
          border-bottom: none;

        }

        @include onDesktop() {
          height: 467px;
        }
      }

      &--bottom {
        border-top: 1px solid #E9ECEF;
        padding: 24px 0;

        @include onTablet() {
          height: 194px;
          border-right: 1px solid #E9ECEF;
          margin-top: 0;
          padding: 24px 16px 24px 0;
          box-sizing: border-box;
          border-top: none;
        }

        @include onDesktop() {
          height: 327px;
        }
      }
    }

    &-item {
      margin-bottom: 8px;


      &:last-child() {
        margin-bottom: 0;
      }

      &--bold {
        font-weight: bold;
        color: #212529;

      }
    }
  }
}

.certificate {
  &__title {
    margin-bottom: 32px;

    @include onDesktop() {
      margin-bottom: 48px;

    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    row-gap: 24px;

    @include onDesktop() {
      flex-wrap: nowrap;
    }

  }

  &__item {
    flex-basis: calc(50% - 10px);

    @include onTablet() {
      flex-basis: 280px;
    }


  }

  &__info {
    text-align: center;
    border-top: 1px solid #E9ECEF;
    padding-top: 8px;

    @include onTablet() {
      padding-top: 12px;
     }

  }

  &__image {
    width: 100%;
    margin-bottom: 8px;


    &--more-distance {
      margin-bottom: 39px;

      @include onTablet() {
        margin-bottom: 68px;

      }

    }
  }
}